# Byte-compiled files
__pycache__/
*.py[cod]

# Virtual environments
.env
.venv
env/
venv/

# Distribution / packaging
build/
dist/
*.egg-info/
.installed.cfg

# Unit test / coverage reports
.coverage
*.cover
.pytest_cache/
.tox/
.nox/
coverage.xml
htmlcov/

# IDE and editor-specific files
.idea/
*.log

# Database files
db.sqlite3

# Jupyter Notebook
.ipynb_checkpoints

# Python cache and pip logs
pip-log.txt
pip-delete-this-directory.txt

# Cython debug
cython_debug/

# Local settings
local_settings.py

# Flask
instance/

# Docs
docs/_build/

# Temporary files
*.spec
