langchain
langchain-milvus
huggingface-hub
milvus
streamlit
langchain-community
torch
transformers
langchain-huggingface
nest_asyncio
PyPDF2
bitsandbytes
accelerate
Spire.PDF
flask
fitz
PyMuPDF
fuzzywuzzy